.margin0 {
    margin: 0;
}

.marginlr0 {
    margin-left: 0;
    margin-right: 0;
}

.margintb0 {
    margin-top: 0;
    margin-bottom: 0;
}

.td_content{
    overflow-x: scroll;
    overflow: hidden;
}

/*top 5 minus*/
.margint5m {
    margin-top: -5px;
}
.marginr5 {
    margin-right: 5px;
}

#course .cover_img, #course_modal_add .cover_img, #video .cover_img, #video_modal_add .cover_img,
#activity .cover_img, #activity_modal_add .cover_img{
    width:120px;
    height: 60px;
}

.editor_div{
    height: 285px;
}
.editor_basic{
    height: 200px;
    /*z-index: 2199;*/
}

#edui_fixedlayer{
    /*z-index: 2000 !important;*/
}

#course-list > table > tbody > tr > td{
    /*vertical-align: middle;*/
}