{% include "./lib/header.html" %}
{% include "./lib/topbar.html" %}

<div class="container-fluid"  style="padding-top:100px;">
    <div class="row">
        <div class="col-xs-12">
            <!-- <legend></legend> -->
            {% if error_msg %}<div class="alert alert-danger">{$error_msg$}</div>{% endif %}
        </div>
        
    </div>

    <div class="row">
        <div class="col-xs-2">
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li role="presentation" class="disabled"><a href="javascript:void(0);">网站管理</a></li>
                <li role="presentation" class="active"><a href="#basic" data-toggle="pill">基本配置</a></li>
                <!-- <li role="presentation"><a href="#banner" data-toggle="pill">首页BANNER</a></li> -->
                <li role="presentation"><a href="#course" data-toggle="pill">课程列表</a></li>
                <li role="presentation"><a href="#video" data-toggle="pill">视频列表</a></li>
                <li role="presentation"><a href="#activity" data-toggle="pill">活动列表</a></li>
                <li role="presentation"><a href="#test" data-toggle="pill">留言列表</a></li>
                <li role="presentation"><a href="#test" data-toggle="pill">讲师列表</a></li>
            </ul>
        </div>
        <div class="col-xs-10">
            <div class="tab-content">
                {% include "./lib/basic.html" %}
                {% include "./lib/course.html" %}
                {% include "./lib/video.html" %}
                {% include "./lib/activity.html" %}
            </div>
        </div>
    </div>

</div>

{% include "./lib/footer.html" %}