{% include "./lib/header.html" %}
{% include "./lib/topbar.html" %}

<div class="banner">
    <div class="container-fluid" style="padding:0;">
        <div class="row" style="margin:0;">
            <div id="index_banner" class="col-xs-12"  style="padding:0;">
                {#<!-- {% include "./lib/banner.html" %} -->#}
            </div>
        </div>
    </div>
</div>

<!-- 精品课程 -->
<div class="box" id="anchor_course" name="anchor_course">
    <div class="container-fluid">
        <h3>{$lang.jinpingkc$}</h3>
        <div class="grayline"></div>
        <div id="lang_value" class="hide">{$lang_value$}</div>
    </div>
</div>
<div id="index_course" class="course">
    {#<!-- {% include "./lib/course.html" %} -->#}
</div>

<div class="box">
    <div class="container-fluid">
        <div class="grayline linemargin"></div>
    </div>
</div>

<!-- 服务 -->
<div class="box">
    <div class="container-fluid">
        <h3>{$lang.ourservice$}</h3>
    </div>
</div>
<div class="box">
    <div class="container-fluid">
        <div class="service">
            {% include "./lib/service.html" %}
        </div>
    </div>
</div>

<!-- 需求留言 -->
<div class="box">
    <div class="container-fluid">
        <div class="msg">
            {% include "./lib/msg.html" %}
        </div>
    </div>
</div>

<!-- 视频 -->
<div class="video" id="anchor_video" name="anchor_video">
    <div class="box">
        <div class="container-fluid">
            <h3>{$lang.video$}</h3>
            <div class="grayline"></div>
        </div>
    </div>
    <div class="box">
        <div id="index_video" class="container-fluid">
            <!-- {# include "./lib/video.html" #} -->
        </div>
    </div>

    <!-- 荣誉清单 -->
    <!-- {# <div class="box">
        <div class="container-fluid">
            <div class="grayline"></div>
            <h3>荣誉清单</h3>
        </div>
    </div>
    <div class="honour">
        {% include "./lib/honour.html" %}
    </div> #}-->
</div>

<!-- 精彩活动 -->
<div class="box">
    <div class="container-fluid">
        <h3>{$lang.upcomingactivity$}</h3>
        <div class="grayline"></div>
    </div>
</div>
<div class="box">
    <div class="container-fluid">
        <div id="index_activity" class="activity">
            <!-- {# include "./lib/activity.html" #} -->
        </div>
    </div>
</div>

<!-- 原创热贴 -->
<div class="box">
    <div class="container-fluid">
        <h3>原创热贴</h3>
        <div class="grayline"></div>
    </div>
</div>
<div class="box">
    <div class="container-fluid">
        <div id="index_stick" class="stick">
            {% include "./lib/stick.html" %}
        </div>
    </div>
</div>

<!-- 金牌讲师 -->
<div class="box">
    <div class="container-fluid">
        <div class="grayline_dash"></div>
        <h3>{$lang.yanyiteam$}</h3>
    </div>
</div>
 <div id="index_team" class="lectuer">
    <!-- {# include "./lib/lectuer.html" #} -->
</div>

<!-- 公司简介 -->
<div class="companybrief" id="anchor_contactus" name="anchor_contactus">
    <div class="box">
        <div class="container-fluid">
            <h3>{$lang.whoweare$}</h3>
            <div class="grayline"></div>
            {% include "./lib/companybrief.html" %}
        </div>
    </div>

    <!-- 加入我们 -->
    <!-- {#<div class="box">
        <div class="container-fluid">
            <div class="grayline"></div>
            <h3>加入我们</h3>
            {% include "./lib/joinus.html" %}
        </div>
    </div> #}-->
</div>

{% include "./lib/footer.html" %}
<script src="/javascripts/index.js"></script>