body{
    font-family:"Microsoft YaHei","Hiragino Sans GB",Arial,sans-serif;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding: 0;
}
.grayline{
    height: 1px;
    background-color: #e6e6e6;
    width: 100%;
}
.grayline_dash{
    height: 0;
    border-bottom: 1px dashed #e6e6e6;
}
.linemargin{
    margin: 10px auto;
}

/*top navbar start*/
.navbar{
    border: none;
}
.navbar .divider{
    color: #e5e5e5;
}
.navbar .container-fluid{
    width: 1050px;
    padding: 0;
}
.navbar .navbar-subtitle{
    color: #979797;
}
.navbar-inverse{
    background-color: #333;
}
.navbar-inverse .navbar-text, .navbar-inverse .navbar-nav>li>a{
    color: white;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    border-bottom: 2px solid #f7961d;
    background-color: #333;
}
.navbar-brand {
    padding: 0;
    padding-top: 3px;
    padding-left: 7px;
}
.navbar-text{
    margin-left: 0px;
}
/*top navbar end*/

/*banner start*/
.banner{
    padding-top:52px;
}
.carousel-indicators li{
    background-color: #979797;
    border:none;
}
.carousel-indicators .active{
    background-color: #f7961d;
}
/*banner end*/

/*box start*/
.box{
    padding-top:10px;
}
.box .container-fluid, .course .courselist .bd{
    width: 1050px;
    padding: 0;
}
/*box end*/

.course{
    width: 1145px;
    margin: 0 auto;
}

.course .courselist .bd{
    float: left;
}
.courselist {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 10px;
}
.courselist .prev,.courselist .next {
    display: block;
    width: 26px;
    height: 59px;
    float: left;
    cursor: pointer;
    background: url("/images/previous.png") no-repeat;
    margin:80px 20px 0px 0px;
}

.courselist .next {
    background: url("/images/next.png") no-repeat;
    position: absolute;
    margin:80px 0px 0px 1116px;
}
.courselist .bd{ 
    margin:auto;   
}
.courselist .bd ul {
    overflow: hidden;
    zoom: 1;
}
.courselist .bd ul li {
    margin-right: 15px;
    float: left;
    _display: inline;
    overflow: hidden;
    text-align: center;
}
.courselist .bd ul li .pic {
    text-align: center;
}
.courselist .bd ul li .pic img {
    width: 340px;
    height: 225px;
    display: block;
    padding: 2px;
}
.courselist .bd ul li .pic a:hover img {
    border-color: #999;
}
.courselist .bd ul li .title {
    line-height: 36px;
}
.courselist .bd ul li .title a{
    text-decoration: none;
    /*font-weight: bold;*/
    color: black;
    font-size: 16px;
}

/*service start*/
.service{
}
.service .service_title{
    font-family: "Open Sans Light";
    color: #ce7540;
    font-size: 24px;
}
.service .service_list,.service .service_text{
    margin-top: 10px;
}
.service .service_list{
    -webkit-padding-start : 20px;
}
/*service end*/

/*msg start*/
.msg .msg_btn{
    margin-top: 50px;
    color: white;
    background-color: #FF8E00;
    padding: 6px 22px;
    font-size: 14px;
    display: inline-block;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 2px;
    background-image: none;
    margin-bottom: 0;
    border:none;
}
/*msg end*/

/*video start*/
.video{
    margin-top: 40px;
    background-color: #F6F5F4;
}
.video .videobox{
    margin-bottom: 20px;
}
.video .videobox a{
    text-decoration: none;
}
.video .videobox .img_big{
    width: 97%;
    height: 379px;
}
.video .videobox .img_mid{
    width: 97%;
    height: 158px;
}
.video .videobox .img_small{
    width: 97%;
    height: 65px;
}
.video .videobox .video_title{
    color: black;
    margin-bottom: 5px;
}
.video .videobox .video_text{
    color: #333;
    margin-bottom: 8px;
}

.video .videobox .videolistbox{
    margin-bottom: 8px;
}
/*video end*/

/*honour start*/
.honour{
    width: 1145px;
    margin: 0 auto;
}
.honour .honourlist .honourbox{
    width: 500px;
    
}
.honour .honourlist .honourbox .honourboxsingle{
    margin-bottom: 10px;
    width: 490px;
    height: 150px;
    background-color: white;
    border: 1px solid #e6e6e6;
}
.honour .honourlist .honourbox .honourboxsingle .honour_img{
    width: 148px;
    height: 148px;
    border-right: 1px solid #e6e6e6;
}
.honour .honourlist .honourbox .honourboxsingle img{
    width: 100%;
    height: 100%;
}
.honour .honourlist .honourbox .honourboxsingle .honour_intro{
    width: 340px;
    height: 148px;
    padding: 5px 10px;
}
.honour .honourlist .honourbox .honourboxsingle .honour_intro .honour_title{
    color: #ce7540;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin: 10px 0px;
}
.honour .honourlist .honourbox .honourboxsingle .honour_intro .honour_text{
    text-align: left;
    font-size: 12px;
}
.honour .honourlist .bd{
    float: left;
}
.honourlist {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 10px;
}
.honourlist .prev,.honourlist .next {
    display: block;
    width: 26px;
    height: 59px;
    float: left;
    cursor: pointer;
    background: url("/images/previous.png") no-repeat;
    margin:145px 20px 0px 0px;
}

.honourlist .next {
    background: url("/images/next.png") no-repeat;
    position: absolute;
    margin:145px 0px 0px 1070px;
}
.honourlist .bd{ 
    margin:auto;   
}
.honourlist .bd ul {
    overflow: hidden;
    zoom: 1;
}
.honourlist .bd ul li {
    margin-right: 15px;
    float: left;
    _display: inline;
    overflow: hidden;
    text-align: center;
}
/*honour end*/

/*activity start*/
.activity{
    margin-top: 20px;
}
.activity .activitybox{
    margin-bottom: 10px;
}
.activity .activitybox .activity_img img{
    width: 100%;
    height: 80px;
}
.activity .activitybox .activity_intro{
    padding: 0 10px;
}
.activity .activitybox .activity_intro .activity_title{
    font-weight: bold;
    margin-top: 10px;
}
.activity .activitybox .activity_intro .activity_title a{
    color: black;
    text-decoration: none;
}
.activity .activitybox .activity_intro .activity_date{
    font-size: 12px;
    margin: 5px 0;
}
.activity .activitybox .activity_intro .activity_ongoing{
    color: green;
}
.activity .activitybox .activity_intro .activity_done{
    color: red;
}

.activity .activitylistbox {
    margin-top: 20px;
}
.activity .activitylistbox .activity_list{
    -webkit-padding-start : 20px;
}
.activity .activitylistbox .activity_list li{
    margin-bottom: 10px;
}
.activity .activitylistbox .activity_list li a{
    text-decoration: none;
    color: black;
}
/*activity end*/